<h1>Test#witaj</h1>
<p>Find me in app/views/test/witaj.html.erb</p>
<p>Witam !!!</p>

<p>

	<%= link_to('powrot', {:action=>'nawigacja'}) %>

</p>

<p>
    <%= 'Parametr id: ' + params[:id] %>
</p>

<p>
    Parametr id: <%= params[:id] %>
</p>

<p>
    Parametr strona= <%= params[:strona] %>
</p>

<p>
    Parametr strona+1 = <%= params[:strona].to_i + 1 %>
</p>