<!DOCTYPE html>
<html>
<head>
  <title>SkRailscms4</title>
  <%= stylesheet_link_tag('application', :media => 'all') %>
  <%= javascript_include_tag('application') %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>

<!-- czesc glowna -->
<div class="container">
  <% if !flash[:notice].blank? %>
    <div class="alert alert-success" style="text-align:center">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <%= yield %>
</div>

<!-- stopka -->
<div id="footer">
  <div class="container">
    <p class="text-muted">
    	StrefaKursów 2014 &copy; <a href="http://www.strefakursow.pl" target="_blank">http://www.strefakursow.pl</a>
    </p>
  </div>
</div>

</body>
</html>
